<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="log4net" version="2.0.5" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net46" />
  <package id="RestSharp" version="104.4.0" targetFramework="net46" />
  <package id="ServiceStack.Text" version="3.9.71" targetFramework="net46" />
  <package id="Slack.Webhooks" version="0.1.6" targetFramework="net46" />
</packages>